<?xml version="1.0"?>

<configuration>
	<system.webServer>
		<modules>
			<remove name="AspNetAppHarborIntegration" />
			<add name="AspNetAppHarborIntegration" type="Premotion.AspNet.AppHarbor.Integration.AppHarborModule, Premotion.AspNet.AppHarbor.Integration" />
		</modules>
		<handlers>
			<remove name="IntentionalExceptionThrowerHandler" />
			<add verb="*" path="Throw" name="IntentionalExceptionThrowerHandler" type="Premotion.AspNet.AppHarbor.Integration.TestWebsite.IntentionalExceptionThrowerHandler,Premotion.AspNet.AppHarbor.Integration.TestWebsite" />
			<remove name="RequestDetailsHandler" />
			<add verb="*" path="Details" name="RequestDetailsHandler" type="Premotion.AspNet.AppHarbor.Integration.TestWebsite.RequestDetailsHandler,Premotion.AspNet.AppHarbor.Integration.TestWebsite" />
		</handlers>
		<httpErrors errorMode="Custom">
			<remove statusCode="500" subStatusCode="-1" />
			<error statusCode="500" path="Details" prefixLanguageFilePath="" responseMode="ExecuteURL"/>
		</httpErrors>
	</system.webServer>
</configuration>