<?xml version="1.0"?>

<configuration>
	<appSettings>
		<add key="DOCKED_AT_APPHARBOR" value="false" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.webServer>
		<modules>
			<remove name="AspNetAppHarborIntegration" />
			<add name="AspNetAppHarborIntegration" type="Premotion.AspNet.AppHarbor.Integration.AppHarborIntegrationModule, Premotion.AspNet.AppHarbor.Integration" />
		</modules>
		<handlers>
			<remove name="RequestDetailsHandler" />
			<add verb="*" path="*" name="RequestDetailsHandler" type="Premotion.AspNet.AppHarbor.Integration.TestWebsite.RequestDetailsHandler,Premotion.AspNet.AppHarbor.Integration.TestWebsite" />
		</handlers>
	</system.webServer>
</configuration>