<?xml version="1.0"?>

<configuration>
	<system.web>
		<compilation targetFramework="4.0" />
		<customErrors mode="Off" />
	</system.web>
	<system.webServer>
		<modules>
			<!--<remove name="AspNetAppHarborIntegration" />
			<add name="AspNetAppHarborIntegration" type="Premotion.AspNet.AppHarbor.Integration.AppHarborModule, Premotion.AspNet.AppHarbor.Integration" />-->
		</modules>
		<handlers>
			<remove name="RequestDetailsHandler" />
			<add verb="*" path="Default" name="RequestDetailsHandler" type="Premotion.AspNet.AppHarbor.Integration.TestWebsite.RequestDetailsHandler,Premotion.AspNet.AppHarbor.Integration.TestWebsite" />
		</handlers>
		<httpErrors>
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" path="Default" responseMode="Redirect" />
		</httpErrors>
	</system.webServer>
</configuration>